@{
    Layout = "_Layout";
    ViewData["Title"] = "Отказано в доступе";
}

<h2>Отказано в доступе</h2>

<p>Вам отказано в доступе к данному ресурсу. У вас недостаточно прав.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Вернуться на главную страницу</a>